#main {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
}

#main-in {
  padding-left: 300px;
}

#main p {
  margin-bottom: 1em;
  line-height: 1.9;
  color: rgb(50, 50, 50);
  font-weight: 300;
  letter-spacing: 0.01em;
}

#main section {
  background-color: rgb(245, 245, 245);
  padding: 25px 100px 25px 100px;
}

#main .welcome {
  padding-top: 30px;
}

#main h1 {
  color: rgb(50, 50, 50);
  font-size: 3em;
  font-weight: 400;
  margin-bottom: .9em;
}

#main h2 {
  color: rgb(50, 50, 50);
  font-size: 180%;
  font-weight: 400;
  margin-top: 1.6em;
  margin-bottom: .7em;
  padding-bottom: .15em;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.publication-year-block:first-of-type h2 {
  margin-top: 0.3em;
}

.publication-entry {
  margin-bottom: 1.2em;
}

.journal {
  font-style: italic;
}

.publication-entry strong {
  font-weight: 700;
}

img.nature {
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
}

.imgcap {
  color: rgb(85, 85, 85);
  font-size: 12px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.9em;
}

#copyright {
  font-size: 12px;
  background-color: rgb(245, 245, 245);
  color: #666;
  text-align: center;
  margin-top: 0;
  padding-bottom: 5px;
}

@media screen and (max-width: 1150px) {
  #main {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  #main section {
    padding: 25px 60px 25px 60px;
  }
}

@media screen and (max-width: 1050px) {
  #main {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }

  #main section {
    padding: 25px 40px 25px 40px;
  }
}

@media screen and (max-width: 900px) {
  #main {
    padding-top: 160px;
  }

  #main section {
    padding: 25px 25px 25px 25px;
  }

  #main-in {
    padding-left: 0;
  }

  #main h1 {
    font-size: 2.4em;
  }

  #main h2 {
    font-size: 160%;
  }

  .imgcap {
    font-size: 12px;
  }
}