html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background: rgb(230, 230, 230);
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: orangered;
  text-decoration: none;
}

a:visited {
  color: orangered;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.total {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}