html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background: rgb(230, 230, 230);
  color: rgb(50, 50, 50);
  -webkit-text-size-adjust: 100%;
}

a {
  color: orangered;
  text-decoration: none;
}

a:visited {
  color: orangered;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  margin-top: 0;
}

h1,
h2,
h3 {
  color: rgb(50, 50, 50);
  margin-top: 0;
}

.total {
  margin: 0 auto 0 auto;
  max-width: 1300px;
}