#Researcher {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0.4em;
}

#main h1 {
  color: rgb(50, 50, 50);
  font-size: 3.2em;
  font-weight: 700;
  margin-bottom: 0.7em;
}

#main h2 {
  color: rgb(50, 50, 50);
  font-size: 2.2em;
  font-weight: 500;
  margin-top: 1.8em;
  margin-bottom: 0.7em;
}

#main p {
  color: rgb(50, 50, 50);
  font-size: 1em;
}

#global-nav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}

#global-nav > ul > li {
  position: relative;
  margin-bottom: 18px;
}

#global-nav a {
  color: orangered;
  text-decoration: none;
  display: block;
  padding: 6px 0;
  font-size: 15px;
}

#global-nav a:hover {
  text-decoration: underline;
}

.socialmedia {
  display: flex;
  flex-wrap: wrap;
  margin-top: 42px;
}

.socialmedia p {
  padding-right: 25px;
  margin-bottom: 0;
}

.socialmedia a {
  color: rgb(50, 50, 50);
}

.socialmedia a:visited {
  color: rgb(50, 50, 50);
}

.socialmedia a:hover {
  text-decoration: none;
  opacity: 0.75;
}

#copyright {
  font-size: 12px;
  background-color: rgb(245, 245, 245);
  color: #666;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 8px;
}